{% extends "base.html" %}
{% block title %}首頁{% endblock %}

{% block headmessage %} 
  <div style="text-align:center;"><h1>Raccoon-peggy's home</h1> 

  </div>

{% endblock %}

{% block content %}
<br>
<h4>wellcome to here,this is my homework which python</h4>
<br>
<table class='table table-triped'>
  <td>Number</td><td>Title</td><td>Date</td>
{% for post in posts %}
  <tr>
    <td>{{ post.id }}</td>
    <td><a href="/show{{post.id}}/">{{ post.title }}</a></td>
    <td> {{ post.pub_date}}</td>
      
  </tr>

{% endfor %}
</table>
{% endblock %}